<!DOCTYPE html>
<html ng-app="api">
  <head>
    <meta charset="utf-8">
    <title>Bem-vindo</title>
    <!-- build:css css/index.min.css -->
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
    <!--endbuild -->
  </head>
  <body class="container">
  <div class="text-left">
    <p>
      <a href="/login">Logar</a>
      <a href="/local/signup">Cadastrar Usuário</a>
      <a href="#/produto">Cadastrar Produto</a>
      <a href="#/produtos">Listar Produtos</a>
    </p>
  </div>
  <div class="text-right">
  	<p>
  		Logado como: <span id="usuario-logado"> <%=usuarioLogado %> </span>
  		<a href="/logout">Logout</a>
  	</p>
  </div>
  	<div ng-view></div>
      <!--build:js js/index.min.js -->
      <script src="vendor/angular/angular.js"></script>
      <script src="vendor/angular-route/angular-route.js"></script>
      <script src="vendor/angular-resource/angular-resource.js"></script>
      <script src="js/main.js"></script>
      <script src="js/services/ContatoService.js"></script>
      <script src="js/services/ProdutoService.js"></script>
      <script src="js/controllers/ContatosController.js"></script>
      <script src="js/controllers/ContatoController.js"></script>
      <script src="js/controllers/ProdutosController.js"></script>
      <script src="js/controllers/ProdutoController.js"></script>
      <script src="js/directives/meus-componentes/meus-componentes.js"></script>
      <!-- endbuild -->
  </body>
</html>
